body {
  min-block-size: 100vh;
  min-block-size: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-inter), sans-serif;
  background-color: var(--very-dark-blue);
}

:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --clr-paragraph: hsla(0, 0%, 100%, 0.75);
  --clr-stat-heading: hsla(0, 0%, 100%, 0.6);
  --ff-lexend: 'Lexend Deca';
  --ff-inter: 'Inter';
}

/* Utility classes */
.accent {
  color: var(--soft-violet);
}
.clr-heading {
  color: var(--white);
}
.clr-para {
  color: var(--clr-paragraph);
}
.clr-stat-t {
  color: var(--clr-stat-heading);
}
/*  */

.card {
  margin-top: 4.1rem;
  inline-size: clamp(20.4375rem, 87.2vw, 27rem);
  text-align: center;
  background-color: var(--dark-desaturated-blue);
  border-radius: .5rem;
  box-shadow: 0 20px 20px -10px hsl(233, 28%, 13%, .2);
  overflow: hidden;
}

.illustration {
  display: block;
  background-color: var(--soft-violet);
}
.illustration__pic {
  mix-blend-mode: multiply;
  filter: opacity(.75);
}

.card__body {
  padding: 2.5rem 1.8rem 2.3rem;
}
.card__title {
  max-inline-size: 18ch;
  margin-inline: auto;
  font-size: clamp(1.75rem, 1.15rem + 2.56vw, 2.25rem);
  font-weight: 700;
  line-height: 1.15;
}
.card__description {
  max-inline-size: 38ch;
  margin: .95rem auto 0;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.67;
}

.stats {
  margin-top: 2.5rem;
  display: grid;
  gap: 1.8rem;
}
.stats__number {
  font-size: 1.5rem;
  font-weight: 700;
}
.stats__text {
  margin-top: .44rem;
  display: block;
  font-family: var(--ff-lexend), sans-serif;
  font-size: .75rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.attribution {
  padding-block: 1.5rem;
  font-family: var(--ff-lexend), sans-serif;
  font-size: .88rem;
  text-align: center;
}
.attribution__cta {
  margin-inline: .25rem;
  font-weight: 500;
  color: var(--soft-violet);
  position: relative;
}

@media (width >= 72rem) {
  .card {
    inline-size: 69.375rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: left;
  }
  .card__body {
    padding: 4.5rem 0 0 4.5rem;
  }
  .card__title, .card__description {
    margin-inline: unset;
  }
  .card__title {
    line-height: 1.21;
  }
  .card__description {
    margin-top: 1.55rem;
  }
  .stats {
    margin-top: 4.5rem;
    grid-auto-flow: column;
    justify-content: start;
    gap: 3.9rem;
  }
}


.attribution__cta::after {
  content: '';
  position: absolute;
  bottom: -.17rem;
  left: 0;
  inline-size: 100%;
  block-size: .12rem;
  background-color: currentColor;
  transform: scale(1);
  transition: transform .3s ease;
}

.attribution__cta:focus-visible {
  outline: .15rem dotted currentColor;
  outline-offset: .15rem;
}

@media (hover:hover) {
  .attribution__cta:hover::after {
    transform: scale(0);
  }
}

.attribution__cta:focus-visible::after {
  transform: scale(0);
}